/* Загальні стилі для блоків */
.myBlock1,
.myBlock2 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 10px;
}

.hidden {
  display: none;
}

/* Стиль для жовтого блоку */
.yellowBlock {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px;
}

/* Стиль для червоного блоку */
.redBlock {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 10px;
}

/* Стиль для зеленого прямокутника */
.greenRect {
  width: 50px;
  height: 20px;
  background-color: green;
  margin: 10px;
}

/* Стиль для зображення */
#imageContainer img {
  max-width: 300px;
  margin-top: 10px;
}

#fiveBlocks {
  display: flex;
  width: 600;
}

#imagesUrls {
  width: 70%;
  height: 150px;
}

.editable-block {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #525252;
  color: white;
  border: none;
  border-radius: 5%;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #494949;
}

.outer-block {
  width: 300px;
  height: 200px;
  border: 2px solid blue;
  padding: 10px;
}

.inner-block {
  width: 200px;
  height: 100px;
  border: 2px solid green;
  margin-top: 10px;
  padding: 10px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Напівпрозорий сірий колір */
  z-index: 9999; /* Вищий пріоритет */
}

body.no-scroll {
  overflow: hidden; /* Забороняє скролінг */
}
